@model Website.Models.SkaterSeasonStatsModel

@if (Model.SelectedColumnSort != null)
{
    var index = Model.SelectedColumnSortIndex + 4;
    if (Model.SelectedSeason == null)
    {
        index++;
    }
    <style>
    .table-stats td:nth-child(@(index)) {
        background-color: #4E5D6C !important;
    }
    </style>
}

<div class="container">

    <div class="col-md-12 pageHeaderSection">
        <h2>Seasons Stats</h2>
        @Html.Partial("SeasonStatsHeader", Model)
    </div>

    <div class="col-md-12 removePadding">
        <div class="outer">
            <div class="inner">
                <table class="scrollableTable table-stats">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th class="space">Team</th>
                            <th>Rank</th>
                            @if (Model.SelectedSeason == null)
                            {
                                <th class="space">Season</th>
                            }
                            @foreach (var col in Model.ColumnHeaders)
                            {
                                var useGlyph = "";
                                if (Model.SelectedColumnSort == col.Name)
                                {
                                    useGlyph = "glyphicon glyphicon-chevron-down";
                                }
                                <th>
                                    <a href="@(Model.SelectedColumnSort == col.Name ? Model.GetSortLinkSelected(col.Name) : Model.GetSortLink(col.Name))">
                                        @if (useGlyph.Length > 1)
                                        {
                                            <span class="@useGlyph"> </span>
                                        }
                                        @col.Display
                                    </a>
                                </th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @{int rank = ((Model.PageNumber - 1) * Model.PageSize) + 1; }
                        @foreach (var stats in Model.Stats)
                        {
                            <tr>
                                <th><a href="@Url.Action("Skater", "PlayerStats", new { pi = stats.SkaterId })"><span class="d-md-none">@Model.GetLastName(stats.Skater.Name)</span><span class="d-none d-md-block">@stats.Skater.Name</span></a></th>
                                <th><img src="~/img/icons/@(Model.GetImagePath(stats.Team))" /></th>
                                <th>@(rank++)</th>
                                @if (Model.SelectedSeason == null)
                                {
                                    <th>@stats.Season.Number</th>
                                }
                                <td>@stats.GP</td>
                                <td>@stats.G</td>
                                <td>@stats.A</td>
                                <td>@stats.P</td>
                                <td>@stats.PLMI</td>
                                <td>@stats.SHT</td>
                                <td>@stats.SB</td>
                                <td>@stats.MP</td>
                                <td>@stats.PIM</td>
                                <td>@stats.PM5</td>
                                <td>@stats.HIT</td>
                                <td>@stats.HTT</td>
                                <td>@stats.PPG</td>
                                <td>@stats.PPA</td>
                                <td>@stats.PPP</td>
                                <td>@stats.PPS</td>
                                <td>@stats.PPM</td>
                                <td>@stats.PKG</td>
                                <td>@stats.PKA</td>
                                <td>@stats.PKP</td>
                                <td>@stats.PKS</td>
                                <td>@stats.PKM</td>
                                <td>@stats.GW</td>
                                <td>@stats.GT</td>
                                <td>@stats.EG</td>
                                <td>@stats.HT</td>
                                <td>@stats.FOW</td>
                                <td>@stats.FOT</td>
                                <td>@stats.PSG</td>
                                <td>@stats.PSS</td>
                                <td>@stats.FW</td>
                                <td>@stats.FL</td>
                                <td>@stats.FT</td>
                                <td>@stats.S1</td>
                                <td>@stats.S2</td>
                                <td>@stats.S3</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

@section scripts {
    <script>
        $(document).ready(function () {
            $('tbody').scroll(function (e) {
                $('thead').css("left", -$("tbody").scrollLeft());
                $('thead th:nth-child(1)').css("left", $("tbody").scrollLeft() - 5);
                $('tbody td:nth-child(1)').css("left", $("tbody").scrollLeft() - 5);
            });
        });
    </script>
}
